body { 
    display: none; 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--body-text-color);
    background-color: var(--body-back-color);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
