.loadMore__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    background-color: var(--loadmore-back-color);
    height: 90px;
    border-radius: 40px;
    text-decoration: none;
    transition: .4s ease;
}
.loadMore {
    font-size: 1.9em;
    color: var(--loadmore-text-color);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loadMore__text:hover {
    background-color: var(--loadmore-back-hover-color);
    transition: .4s ease;
}