/*----------------------*/
/*      Movies Show     */
/*----------------------*/
.movie-show {
  display: grid;
  grid-template-columns: auto 1fr;
}

  .movie-show__cover {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 30px;
  }

  .movie-show__info {
    padding: 10px 15px;
  }
  
  .movie-show__title {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    background-color: var(--movies-show-title-back-color);
    border-radius: 25px;
    color: var(--movies-show-title-text-color);
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__director {
    width: auto;
    height: auto;
    line-height: 1.1;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-director-back-color);
    border-radius: 20px;
    color: var(--movies-show-director-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__actor {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-actor-back-color);
    border-radius: 20px;
    color: var(--movies-show-actor-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__year {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-year-back-color);
    border-radius: 20px;
    color: var(--movies-show-year-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__length {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-length-back-color);
    border-radius: 20px;
    color: var(--movies-show-length-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__description {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-description-back-color);
    border-radius: 20px;
    color: var(--movies-show-description-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-show__country {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-country-back-color);
    border-radius: 20px;
    color: var(--movies-show-country-text-color);
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
  }
  
  .movie-show__category {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background-color: var(--movies-show-category-back-color);
    border-radius: 20px;
    color: var(--movies-show-category-text-color);
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
  }
  
  .movie-show__average {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--movie-show-average-back-color);
    font-weight: bold;
    z-index: 2;
    color: var(--movie-show-average-text-color);
    font-size: 13px;
  }
  
  .movie-show__average--green {
    border: 4px solid green;
  }
  
  .movie-show__average--orange {
    border: 4px solid orange;
  }
  
  .movie-show__average--red {
    border: 4px solid red;
  }

@media (max-width:670px) {
  .movie-show {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
}