/*---------------------*/
/*      Search         */
/*---------------------*/
.search {
    display: flex;
    background: var(--search-back-color);
    height: 40px;
    border-radius: 40px;
}

.search__btn {
    border: var(--search-btn-border-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--search-btn-back-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    color: var(--search-btn-text-color);
    cursor: pointer;
}

.search__btn:hover {
    -webkit-box-shadow: var(--search-btn-shadow-back-color); 
    -moz-box-shadow: var(--search-btn-shadow-back-color); 
    box-shadow: var(--search-btn-shadow-back-color); 
    transition: .2s;
}

.search__btn > i {
    font-size: 16px;
}

.search:hover > .search__text {
    width: 210px;
    padding: 0 10px;
}

.search__text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--search-text-color);
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0;
    font-weight: bold;
}

.search__text::placeholder {
    font-size: 16px;
    color: var(--search-text-placeholder-color);
    opacity: .6;
}
